

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: black;
    font-family: 'Karla', sans-serif;
    
}

.container {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: flex-start; 
    max-width: 50%;
    margin: 0 auto;
    padding: 52px;
    background-color: #1F2937;
    color: white;
    width: 550px;
    height: 550px;
}
h1{
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    margin-top: 2px;
    margin-bottom: 4px;
}
#RandomH1{
    color: #10B981;
}

p{
    font-weight: 400;
    font-size: 20px;
}
button{
    border-radius: 6px; 
    font-weight: 400;
    background-color: #10B981;
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: large;
    
    
}
.TagLine{
    padding-bottom: 10px;
}

button:hover{
    background-color: #058057;

}
.passSection{

    display: flex;
    gap: 45px;     
    justify-content: center;
    width: 100%;
}
.Pass1{
    width: 250px;
    height: 40px;
    background-color: #273549;
    border-radius: 6px;
    color: white;
    font-size: large;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #10B981  ;
    margin-top: 0;

}
